
    * {
        margin: 0px;
        padding: 0px;
        position: relative;
    }

    html,
    body {
        height: 100vh;
        width: 100vw;
        background-color: #EAEDED;
    }

    a{
        text-decoration: none;
    }
    h3 {
        color: white;
        font-size: 10px;
        margin-bottom: 8px;
        margin-left: 20px;

    }
    h4 {
        color: white;
        font-size: 8px;
        margin-left: 20px;

    }

    .header-container {
        background-color: honeydew;
        height: 90px;

    }

    .top-bar {
        background-color: beige;
        height: 30px;
        background-image: url('../img/bg.banner1.png');
        background-size: contain;

    }

    .top-nav {
        background-color: #232f3e;
        height: 60px;
    }


    .height-100 {
        height:100%;
    }

    .top-left {
        width: 110px;
        float: left;


    }

    .top-left>img,
    .top-right>img {
        height: 60px;

    }

    .top-left,
    .top-middle,
    .top-right {
        height: 100%;
    }

    .top-middle {
        width: calc(100%-330px);
        float: left;
        text-align:center;

    }
    
    .top-search {
        width: 350px;
        margin-top: 5px;

    }
    .top-nav-items {
        text-align: left;
        margin-top: 10px;
        margin-left: 22px;
    }
    .top-nav-items > li {
        display: inline-block;
        margin-right: 5px;

    }
    .top-nav-items > li > a {
        font-size: 8px;
        text-decoration: none;
        color: white;
        padding: 4px;
        display: block;
    }
    .top-nav-items > li:hover {
        border: 1px solid #FFF;
        border-radius: 5px;
    }
    .top-search-button {
        background-color: #febd69;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
    }


    .top-right {
        width: 220px;
        float: right;
        overflow: hidden;
        

    }
    .top-right>img {
        background-position: 30px 0;
    }

    .main-body {
        width: 80vw;
        min-height: 800px;
        background-color: transparent;
        margin: 0px auto;

    }
    .main-top-container > img {
        max-width: 100%;
    }
    .main-top-items {
        text-align: center;
        margin-top: -150px;
    }
    .main-top-items> li {
        display: inline-block;
        background-color: white;
        width: 200px;
        padding: 10px;
        text-align: center;
        /* height:190px; */
    }
    .main-top-items>li:last-child {
        background-color: transparent;
    }
    .btn-sign-in {
        background-color: #f0c14b;
        border-radius: 1px;
        border-color: #a88734 #9c7e31 #846a29;
        color: #111;
        font-size: 8px;
        padding: 3px 20px;
        width: 100%;
    }
    .last-child {
        background-color: white;
        margin-bottom: 22px;
        padding: 10px;
        display: inline-block;
    }

    .main-top-items> li >img, .main-bottom-container> li >img {
        max-width: 100%;
        
    }
    .main-top-items >li>h2, .main-top-items >li>span>h2 {
        font-size: 12px;
        margin-bottom:7px;
    }
    .main-top-items >li >p, .main-top-items >li >a {
       font-size: 8px; 
    }
    .main-bottom-container {
        list-style-type: none;
    }
    .main-bottom-container >li{
        width: 100%;
        background-color: white;
        padding: 10px;
        margin: 10px 0px;
     
    }

    /* .bg-gradient */
    .footer-sidebar-container {
        width: 100vw;
        min-height: 500px;
        background-color: #232F3E;
    }
    .footer-top-section {
        display: block;
        text-align: center;
        background-color: #37475A;
        color: #fff;
        padding: 5px 0;
        line-height: 19px;
        font-size: 9px;
        margin-bottom: 40px;
    }
    .footer-center-section {
        background-color: #232F3E;
        /* color: #fff; */
        width: 100%;
        display: block;
        overflow: auto;
    }
    .pull-left {
        float: left;
        width: 25%;
    }
    .pull-left  > ul {
        list-style-type: none;
       
        
    }
    .pull-left  > ul > li >a {
        color: white;
        font-size: 8px;
        margin-left: 20px;
    }
    .footer-bottom-container {
        width: 100%;
    }
    .footer-center-squeeze, .footer-bottom-squeeze{
        width:80%;
        margin: 0 auto;
        overflow: auto;

    }
    .footer-bottom-squeeze {
        margin: 25px auto;
    }
    .footer-center-squeeze-bottom {
        border-top: 1px solid #3a4553;
        margin-top: 40px;
    }
    .footer-squeeze-button-items {
        list-style-type: none;
        text-align: center;
        margin: 15px auto;
    }
    .footer-squeeze-button-items >li {
        display: inline-block;
        margin-right: 10px;
    }
    .footer-squeeze-button-items >li:first-child {
        margin-right: 40px;
    }
    .footer-25 {
        width: 25%;
    }
    .footer-14 {
        width: 16%;
    }
    .btn-footer {
        color: white;
        background-color: transparent;
        font-size: 10px;
        padding: 3px 9px;
        border-radius: 3px;
    }
    .footer-14 > ul >li>a {
        font-size: 6px;
    }
    .footer-logo {
        width: 50px;
        margin-bottom: -10px;
    
    }
    .footer-bottom-container {
        background-color: #131A22;
        overflow: auto;
    }
}
